<div class="container-fluid" id="items">
  <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h1><%= link_to product.name, product %></h1>
        <%= image_tag(product.image_url,
              class: "img-responsive",
              alt: product.image_url)%>
        <p><%= product.description %></p>
        <strong>$ <%= product.price %></strong>

        <table>
            <td><%= link_to 'Show', product %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </table>
      </div><!-- /col -->
    </div>
</div>
