<div class="col-md-3">
  <div class="thumbnail">
    <%= link_to product do %>
    <%= image_tag(product.image_url, class: "img-responsive") if product.image_url%>
    <% end %>
    <p><strong>Product name:</strong><p><%= product.name %></p></p>
    <p><strong>Details:</strong><p><%= product.description %></p></p>
    <p><strong>Photo:</strong><p><%= product.image_url %></p></p>
    <p><strong>Color:</strong><p><%= product.colour %></p></p>
    <p><strong>Price €:</strong><p><%= product.price %></p></p>
  </div>

  <div class="product-buttons">
    <p><%= link_to 'Show', product %></p>
    <p><%= link_to 'Edit', edit_product_path(product) %></p>
    <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
</div>
