<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="container" id="heading">
  <div class="row">
    <div class="col-xs-4">Name</div>
    <div class="col-xs-4">Description</div>
    <div class="col-xs-4">Image Url</div>
  </div>
</div>

<div class="container">
    <% @products.each do |product| %>
    <div class="row">
        <div class="col-xs-4"><%= product.name %></div>
        <div class="col-xs-4"><%= product.description %></div>
        <div class="col-xs-4"><%= product.image_url %></div>
    </div>
    <table>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </table>
    <% end %>
</div>


<br>

<%= link_to 'New Product', new_product_path %>
