<p id="notice"><%= notice %></p>
<div class="container">
  <div class="show-product">
    <div class="thumbnail">
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>

  <%= image_tag(@product.image_url, class: "img-responsive show-photo")%>
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @product.highest_rating_comment %>
  <%= @product.lowest_rating_comment %>
</p>

<div class="container-fluid">
<p>Average Rating:
  <div class="rated" data-score="<%= @product.average_rating %>">
  </div>
</p>
</div>
<%= render 'new_comment' %>
<%= render 'comments' %>

</div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>

</div>
<%= will_paginate @comments %>
